@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Sample app for deployment using Github Ci/Cd to Azure app Service</p>
    <p>CI / CD check</p>
</div>
